<%= link_to 'Voltar', product_categories_path %>
<%= link_to 'Editar', edit_product_category_path(@product_category) %>
<%= link_to 'Apagar categoria', @product_category, method: :delete %>

<div>
  <dl>
    <dt>Nome</dt>
    <dd><%= @product_category.name %></dd>
  	<dt>Código</dt>
  	<dd><%= @product_category.code %></dd>
  </dl>
</div>