<%= link_to 'Voltar', promotions_path %>
<%= link_to 'Editar promoção', edit_promotion_path(@promotion) %>
<%= link_to 'Apagar promoção', @promotion, method: :delete %>
<% if @promotion.approved? %>
  <p>Aprovada por <%= @promotion.approver.email %></p>
  <% if @promotion.coupons.empty? %>
    <%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post %>
  <% end %>
<% elsif @promotion.can_approve?(current_user) %>
  <%= link_to 'Aprovar', approve_promotion_path(@promotion), method: :post, data:{confirm: 'Aprovar promoção?'} %>
<% end %>

<div>
  <p><%= @promotion.name %></p>
  <dl>
  	<dt>Descrição</dt>
  	<dd><%= @promotion.description %></dd>
  	<dt>Desconto</dt>
  	<dd><%= number_to_percentage @promotion.discount_rate, precision: 2 %></dd>
  	<dt>Codigo</dt>
  	<dd><%= @promotion.code %></dd>
  	<dt>Vencimento</dt>
  	<dd><%= l @promotion.expiration_date %></dd>
  	<dt>Quantidade</dt>
  	<dd><%= @promotion.coupon_quantity %></dd>
  </dl>
</div>

<div>
  <dl>
    <dt>Cupons:</dt>
    <% @promotion.coupons.each do |coupon| %>
      <div id="<%= coupon.code.parameterize %>">
        <dd><%= coupon.code %> (<%= Coupon.human_attribute_name("status.#{coupon.status}") %>)</dd>
        <% if coupon.active? %>
          <dd><%= link_to 'Desabilitar', disable_coupon_path(coupon), method: :post %></dd>
        <% end %>
      </div>
    <% end %>
  </dl>
</div>