<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<%= link_to 'Voltar', promotions_path %>
<%= link_to 'Editar promoção', edit_promotion_path(@promotion) %>
<% if @promotion.coupons.empty? %>
  <%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post %>
<% end %>
<%= link_to 'Apagar promoção', @promotion, method: :delete %>

<div>
  <p><%= @promotion.name %></p>
  <dl>
  	<dt>Descrição</dt>
  	<dd><%= @promotion.description %></dd>
  	<dt>Desconto</dt>
  	<dd><%= number_to_percentage @promotion.discount_rate, precision: 2, separator: ',' %></dd>
  	<dt>Codigo</dt>
  	<dd><%= @promotion.code %></dd>
  	<dt>Vencimento</dt>
  	<dd><%= @promotion.expiration_date.strftime("%d/%m/%Y") %></dd>
  	<dt>Quantidade</dt>
  	<dd><%= @promotion.coupon_quantity %></dd>
  </dl>
</div>

<div>
  <dl>
    <dt>Cupons:</dt>
    <% @promotion.coupons.each do |coupon| %>
      <dd><%= coupon.code %></dd>
    <% end %>
  </dl>
</div>