<%= link_to 'Voltar', promotions_path %>
<div>
  <p><%= @promotion.name %></p>
  <dl>
  	<dt>Descrição</dt>
  	<dd><%= @promotion.description %></dd>
  	<dt>Desconto</dt>
  	<dd><%= number_to_percentage @promotion.discount_rate, precision: 2, separator: ',' %></dd>
  	<dt>Codigo</dt>
  	<dd><%= @promotion.code %></dd>
  	<dt>Vencimento</dt>
  	<dd><%= @promotion.expiration_date.strftime("%d/%m/%Y") %></dd>
  	<dt>Quantidade</dt>
  	<dd><%= @promotion.coupon_quantity %></dd>
  </dl>
</div>